body {
    background: #223322;
    color: #BBBBBB;
    font-family: Monospace;
}

strong {
    font-weight: bold;
}

.plate {
    background: #334433;
}

.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.highlight {
    color: #AAFF55
}

.menu {
	display: flex;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.menu li {
	display: inline-block;
}

.quote {
    margin-bottom: 20px;
}

.quote-header {
    margin-bottom: 5px;
}

.quote-content {
   padding: 10px;
   white-space: pre-wrap;
   line-height: 1.3;
   word-wrap: break-word;
}

.quote-button {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: #334433;
	text-align: center;
}

.quote-button:hover, button:hover {
	background: #445566;
}

.quote-time {
    float: right;
}

.clear {
    clear: both;
}

.footer {
    margin-top: 20px;
    padding-bottom: 10px;
}

.center-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

a:link {
    text-decoration: none;
    color: #AAFF55;
}

a:visited {
    text-decoration: none;
    color: #99DD99;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header a:link {
    color: #BBBBBB;
}

.header a:visited {
    color: #BBBBBB;
}

.header a:hover {
    text-decoration: none;
}

.header a:active {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

.footer a:active {
    text-decoration: none;
}

.form-body {
	display: flex;
}

.form-body > * {
	margin-left: 10px;
	margin-right: 10px;
}

.form-body:after {
	clear: both;
}

.form-element {
	margin: 10px 0;
}

.form-element textarea {
	width: 100%;
	height: 105px;
	background: #445544;
	box-sizing: border-box;
	resize: none;
}

.stretch {
	flex-grow: 1;
}

button {
	font-size: 15px;
	display: block;
	margin: 10px auto 0 auto;
	padding: 10px;
	border: 0;
	cursor: pointer;
	background: #334433;
	color: #BBBBBB;
}