body {
    background: #223322;
    color: #BBBBBB;
    font-family: Monospace;
}

.bold {
    font-weight: bold;
}

.pages {
    margin-top: 20px;
}

.suggested-quote-counter {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.plate {
    background: #334433;
}

.header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.licenses-header {
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
}

.license-content {
    padding: 10px;
    line-height: 1.3;
}

.highlight {
    color: #AAFF55
}

#feedicon {
    height: 1.4em;
}

.spaced {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
}

.inline-block-li li {
	display: inline-block;
}

.quote {
    margin-top: 20px;
}

.quote-header {
    margin-bottom: 5px;
    justify-content: space-between;
}

.quote-content {
   padding: 10px;
   white-space: pre-wrap;
   line-height: 1.3;
   word-wrap: break-word;
}

.quote-button {
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: #334433;
	text-align: center;
}

.quote-button:hover, button:hover {
	background: #445566;
}

.footer {
    margin-top: 20px;
    padding-bottom: 10px;
}

.center-content {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    max-width: 100vw;
}

a:link {
    text-decoration: none;
    color: #AAFF55;
}

a:visited {
    text-decoration: none;
    color: #99DD99;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.header a:link {
    color: #BBBBBB;
}

.header a:visited {
    color: #BBBBBB;
}

.header a:hover {
    text-decoration: none;
}

.header a:active {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}

.footer a:active {
    text-decoration: none;
}

.form-body {
	display: flex;
}

.form-body > * {
	margin-left: 10px;
	margin-right: 10px;
}

.form-body:after {
	clear: both;
}

.form-element {
	margin: 10px 0;
}

.form-element textarea {
	width: 100%;
	height: 105px;
	background: #454;
	color: #fff;
	box-sizing: border-box;
	resize: none;
}

.stretch {
	flex-grow: 1;
}

button {
	font-size: 15px;
	display: block;
	margin: 10px auto 0 auto;
	padding: 10px;
	border: 0;
	cursor: pointer;
	background: #334433;
	color: #BBBBBB;
}

.button-block {
    display: flex;
}

.button-block button {
    width: 250px;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

/* For recaptcha */
.g-recaptcha {
    margin-top: auto;
    margin-bottom: 10px;
}

.mobile-only {
    display: none;
}

@media screen and (max-width: 960px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .quote-rating,
    .pages {
        font-size: 1.6em;
    }

    .pages > a {
        /* spacing pagalinks out for easier clickability */
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .quote-button {
        padding: 0.2em;
        width: 1em;
        height: 1em;
    }

    .column-on-mobile {
        flex-direction: column;
        align-items: center;
    }

    .mobile-rating-panel {
        margin-top: 5px;
        text-align: center;
        background: #273927; /* halfway between #223322 and #334433 */
    }

    .stretch {
        align-self: stretch;
    }

    #main-menu div + div {
        margin-top: 1.5em;
    }
}
