export DATABASE_URL="jdbc:postgresql:loglist?user=horta&password=hell"
export APPLY_EVOLUTIONS_SILENTLY=false

export RECAPTCHA_PUBLIC_KEY=public_key
export RECAPTCHA_PRIVATE_KEY=private_key

export BASIC_AUTH_USERNAME=horta
export BASIC_AUTH_PASSWORD=hell

export APPROVAL_SMTP_HOST="smtp.loglist.net"
export APPROVAL_EMAIL="noreply@loglist.net"
export APPROVAL_EMAIL_PASSWORD="hortahell"