$env:DATABASE_URL = 'jdbc:postgresql:loglist?user=horta&password=hell'
$env:APPLY_EVOLUTIONS_SILENTLY = 'false'
$env:RECAPTCHA_PUBLIC_KEY = 'public_key'
$env:RECAPTCHA_PRIVATE_KEY = 'private_key'
$env:BASIC_AUTH_USERNAME = 'horta'
$env:BASIC_AUTH_PASSWORD = 'hell'
