@(quotes: Seq[models.Quote], currentPage: Int, countPages: Int)

@main("Log List") {
    <div class="center-content quotes">
    @quotes.map { quote =>
        <div class="quote">
            <div class="quote-header">
                <a href="quote/@quote.id">#@quote.id</a>
                <span class="quote-time">@quote.time</span>
                <span class="clear"></span>
            </div>
            <div class="quote-content plate">@quote.content.getOrElse("")</div>
        </div>
    }
    </div>
    <div class="pages">
        @for(i <- 0 to (countPages - 1)) {
            @if(i != currentPage) {
                <a href="/?page=@i">@i</a>
            } else {
                <strong>@i</strong>
            }
        }
    </div>
}
