@(quotes: Seq[models.data.Quote],
        currentPage: Int,
        countPages: Int,
        order: models.queries.QuoteOrdering.Value,
        filter: models.queries.QuoteFilter.Value)

@import models.queries.QuoteOrdering
@import models.queries.QuoteFilter

@renderOrdering(value: QuoteOrdering.Value, label: String) = {
    @if(order == value) {
        <strong>@label</strong>
    } else {
        <a href="@routes.Quotes.list(0, value, filter)">@label</a>
    }
}

@renderFilter(value: QuoteFilter.Value, label: String) = {
    @if(filter == value) {
        <strong>@label</strong>
    } else {
        <a href="@routes.Quotes.list(0, order, value)">@label</a>
    }
}

@menu = {
    <div class="spaced space-around">
        <span>Сортировка:&nbsp;</span>
        <div class="spaced space-around">
            <span>@renderOrdering(QuoteOrdering.Time, "по дате")</span>
            <span>&nbsp;| @renderOrdering(QuoteOrdering.Rating, "по рейтингу")</span>
        </div>
    </div>
    <div class="spaced space-around">
        <span>Фильтр:&nbsp;</span>
        <div class="spaced space-around">
            <span>@renderFilter(QuoteFilter.None, "нет")</span>
            <span>&nbsp;| @renderFilter(QuoteFilter.Year, "за год")</span>
            <span>&nbsp;| @renderFilter(QuoteFilter.Month, "за месяц")</span>
            <span>&nbsp;| @renderFilter(QuoteFilter.Week, "за неделю")</span>
            <span>&nbsp;| @renderFilter(QuoteFilter.Day, "за день")</span>
        </div>
    </div>
}

@main("Log List", menu) {
    <div class="center-content quotes">
    @quotes.map { quote =>
        <div class="quote">
            <div class="spaced quote-header">
                <div>
                    <span><a href="@routes.Quotes.quote(quote.id)">#@quote.id</a></span>
                    <span class="desktop-only">@voting.ratingPanel(quote)</span>
                </div>
                <span>@quote.time</span>
            </div>
            <div class="quote-content plate">@quote.content.getOrElse("")</div>
            @(quote.source, quote.sourceUrl) match {
                case ("user", _) => {}
                case (source, None) => {
                    <div class="quote-source plate">(Источник: @quote.source)</div>
                }
                case (source, Some(url)) => {
                    <div class="quote-source plate">(Источник: <a href="@url">@quote.source</a>)</div>
                }
            }
            <div class="mobile-only plate mobile-rating-panel">
                @voting.ratingPanel(quote)
            </div>
        </div>
    }
    </div>
    <div class="pages">
        @if(currentPage > 0) {
            <a href="@routes.Quotes.list(currentPage-1, order, filter)"
               rel="previous">←</a>
        }
        @for(i <- 0 to (countPages - 1)) {
            @if(i != currentPage) {
                <a href="@routes.Quotes.list(i, order, filter)">@i</a>
            } else {
                <strong>@i</strong>
            }
        }
        @if(currentPage < countPages - 1) {
            <a href="@routes.Quotes.list(currentPage+1, order, filter)"
               rel="next">→</a>
        }
    </div>
}
