@(title: String, menu: Html = Html(""), scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/loglist-scalajs-fastopt.js")"></script>
		<script src="@routes.Assets.at("javascripts/loglist-scalajs-launcher.js")"></script>
        @scripts
    </head>
    <body>
        <div class="plate header center-content">
            <a href="@routes.Quotes.list()"><span class="highlight">L</span>og<span class="highlight">L</span>ist</a>
        </div>
        <ul class="plate menu center-content">
            <li><span class="suggested-quote-counter">?</span> цитат находятся на рассмотрении</li>
        </ul>
	    <ul class="plate menu center-content">
            @menu
            <li class="menu-service"><a href="@routes.SuggestedQuotes.newQuote()">Добавить цитату</a></li>
	    </ul>
        <div class="content center-content">@content</div>
        <div class="footer center-content"><span class="highlight"><a href="https://github.com/codingteam/loglist">codingteam</a> ©</span> 2015</div>
    </body>
</html>
