@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="@routes.Assets.at("javascripts/loglist-scalajs-fastopt.js")"></script>
		<script src="@routes.Assets.at("javascripts/loglist-scalajs-launcher.js")"></script>
    </head>
    <body>
        <div class="plate header center-content">
            <a href="/"><span class="highlight">L</span>og<span class="highlight">L</span>ist</a>
        </div>
	    <ul class="menu">
		    <li><a href="@routes.UserController.newQuote()">Добавить цитату</a></li>
	    </ul>
        <div class="content center-content">@content</div>
        <div class="footer center-content"><span class="highlight">codingteam ©</span> 2014</div>
    </body>
</html>
