@(title: String, menu: Html = Html(""), scripts: Html = Html(""), showMenus: Boolean = true, ogMeta: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html prefix="og: http://ogp.me/ns#" lang="ru">
    <head prefix="loglist: http://loglist.xyz/ns#">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/reset.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="alternate" type="application/rss+xml" title="@title" href="@routes.Quotes.getRSSFeed()">
        @ogMeta
        @scripts
        @scalajs.html.scripts(
          "scalajs",
          name => routes.Assets.at(name).toString,
          name => getClass.getResource(s"/public/$name") != null)
    </head>
    <body>
        <div class="plate header center-content">
            <a href="@routes.Quotes.list()"><span class="highlight">L</span>og<span class="highlight">L</span>ist</a>
        </div>
        @if(showMenus) {
            <div class="plate spaced menu center-content column-on-mobile">
                <div>Цитат на рассмотрении: <span class="suggested-quote-counter">?</span></div>
            </div>
            <div id="main-menu" class="plate spaced menu center-content column-on-mobile">
                @menu
                <div><a href="@routes.SuggestedQuotes.newQuote()">Добавить цитату</a></div>
            </div>
        }
        <div class="content center-content">@content</div>
        <ul class="footer spaced inline-block-li center-content column-on-mobile">
            <li>
                <a href="@routes.Quotes.getRSSFeed()" title="RSS лента">
                    <img src="@routes.Assets.at("images/feedicon.svg")"
                         alt="RSS лента"
                         id="feedicon" />
                </a>
            </li>
            <li>
                <a href="@routes.Licenses.listLicenses()">Лицензии сторонних компонентов</a>
            </li>
            <li><a href="https://github.com/codingteam/loglist/blob/master/docs/API.md">API сайта</a></li>
            <li><span class="highlight"><a href="https://github.com/codingteam/loglist">codingteam</a> ©</span> 2014&ndash;2020</li>
        </ul>
    </body>
</html>
