@(quoteForm: Form[models.forms.SuggestQuoteForm])

@import helper._
@import views.fields.FieldHelpers._

@scripts = {
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

@main("Log List", Html(""), scripts) {
	@form(action = routes.SuggestedQuotes.addQuote()) {
		<div class="form-body column-on-mobile">
			<div class="stretch">
				@textarea(quoteForm("content"), '_label -> "Цитата")
			</div>
			<div class="g-recaptcha"
			     data-sitekey="@play.api.Play.current.configuration.getString("recaptcha.publickey")"
				 data-theme="dark"></div>
		</div>
		<button type="submit">Отправить</button>
	}
}
