@(quote: models.data.Quote)(implicit requestHeader: play.api.mvc.RequestHeader)

@main(s"Log List ⚙ Цитата #${quote.id}",
      Html(""), Html(""), true,
      meta.quoteEntity(quote)) {
  <div class="center-content quotes">
    <div class="quote">
        <div class="spaced quote-header">
            <div>
                <span><a href="@quote.id">#@quote.id</a></span>
                <span class="desktop-only">@voting.ratingPanel(quote)</span>
            </div>
            <span>@quote.time</span>
        </div>
        <div class="quote-content plate">@quote.content.getOrElse("")</div>
        @if(quote.source != "user") {
            <div class="quote-source plate">(Источник: @quote.source)</div>
        }
        <div class="mobile-only plate mobile-rating-panel">
            @voting.ratingPanel(quote)
        </div>
    </div>
  </div>
}
