@(quote: models.data.Quote)(implicit requestHeader: play.api.mvc.RequestHeader)

@main(s"Log List ⚙ Цитата #${quote.id}",
      Html(""), Html(""), true,
      meta.quoteEntity(quote)) {
  <div class="center-content quotes">
    <div class="quote">
        <div class="quote-header">
            <a href="@quote.id">#@quote.id</a>
	        <span class="quote-rating" data-id="@quote.id">
		        <span class="quote-button plus">+</span>
		        <span class="quote-rating-value">@quote.rating</span>
		        <span class="quote-button minus">–</span>
	        </span>
            <span class="quote-time">@quote.time</span>
            <span class="clear"></span>
        </div>
        <div class="quote-content plate">@quote.content.getOrElse("")</div>
    </div>
  </div>
}
