[Unit]
Description=loglist.xyz site
After=network.target

[Service]
EnvironmentFile=/etc/loglist/loglist.conf
ExecStart=/opt/loglist/bin/loglist-jvm -Dhttp.port=9000 -Dhttp.address=127.0.0.1 -Dpidfile.path=/dev/null
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
